<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" class="wrapper">
        <tr>
          <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
        </tr>
        <tr>
          <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
        </tr>
        <tr>
          <td align="center"><a href="" title="logo" target="_blank"> <img src="https://tlr.stripocdn.email/content/guids/CABINET_031b70673f7a230a20bfbdbcdb45d689/images/36151505747333468.jpg" width="100%" alt="logo" style="display: block; border:0; width:100%;" border="0"> </a> </td>
        </tr>
        <tr>
          <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
    <tr>
      <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
    </tr>
    <tr>
      <td bgcolor="#FFF" align="center" style="padding: 0 10px 0 10px;">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" class="table-max">
          <tr>
            <td bgcolor="#FFF"><table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" height="50" style="height:50px; font-size: 0;">&nbsp;</td>
              </tr>
              <tr>
                <td align="center"><h2 style="font-family: Helvetica, Arial, sans-serif; font-size: 28px; font-weight:normal; color: #2C3E50; margin:0; mso-line-height-rule:exactly;"><strong><%= @origin %> ID: </strong> <%= @travel.id %></h2></td>
              </tr>
              <p>The following is a transport covenant concluded between the following parties in common agreement of:
                <li><strong>Time: </strong><%= @travel.time %></li>
                <li><strong>Distance: </strong><%= @travel.distance %></li>
                <li><strong>Value: </strong><%= @travel.value %></li>
              </p>
              <tr>
                <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
              </tr>
              <tr>
                <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="center" height="100%" valign="top" width="100%">
              <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                <tr>
                  <td align="center" valign="top" style="font-size:0;">
                    <div style="display:inline-block; max-width:50%; min-width:280px; vertical-align:top; width:100%;" class="wrapper wrapper-ipad">
                      <table role="presentation" align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:280px;" class="wrapper wrapper-ipad">
                        <tr>
                          <td align="center" valign="top"><table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td><table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                  <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="left" style="font-family: Arial, sans-serif; font-size: 20px; color: #2C3E50;" bgcolor="#FFF">User</td>
                                </tr>
                                <tr>
                                  <td align="left" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #2C3E50;" bgcolor="#FFF"></td>
                                </tr>
                                <tr>
                                  <td align="left" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #2C3E50;" bgcolor="#FFF"><strong>CC: </strong><%= @travel.user_identification %></td>
                                </tr>
                                <tr>
                                  <td align="left" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #2C3E50;" bgcolor="#FFF"><strong>Phone: </strong><%= @travel.user_phone %></td>
                                </tr>
                                <tr>
                                  <td align="left" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #2C3E50;" bgcolor="#FFF"><strong>Email: </strong><%= @travel.user_email %></td>
                                </tr>
                                <tr>
                                  <td align="right"><table role="presentation" border="0" cellspacing="0" cellpadding="0" class="mobile-btn-container">
                                    <tr>
                                      <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
                                    </tr>
                                  </table></td>
                                </tr>
                                <tr>
                                  <td align="center" height="50" style="height:50px; font-size: 0;">&nbsp;</td>
                                </tr>
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
                    </div>
                    <div style="display:inline-block; max-width:50%; min-width:280px; vertical-align:top; width:100%;" class="wrapper wrapper-ipad">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                          <td>
                            <table role="presentation" align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:280px; float: right;" class="wrapper wrapper-ipad">
                              <tr>
                                <td align="center" valign="top"><table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                  <tr>
                                    <td><table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
                                      <tr>
                                        <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td align="left" style="font-family: Arial, sans-serif; font-size: 20px; color: #2C3E50;" bgcolor="#FFF">Driver</td>
                                      </tr>
                                      <tr>
                                        <td align="left" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #2C3E50;" bgcolor="#FFF"></td>
                                      </tr>
                                      <tr>
                                        <td align="left" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #2C3E50;" bgcolor="#FFF"><strong>CC: </strong><%= @travel.user.owner_identification %></td>
                                      </tr>
                                      <tr>
                                        <td align="left" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #2C3E50;" bgcolor="#FFF"><strong>Phone: </strong><%= @travel.user.owner_phone %></td>
                                      </tr>
                                      <tr>
                                        <td align="left" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #2C3E50;" bgcolor="#FFF"><strong>Email: </strong><%= @travel.user.email %></td>
                                      </tr>
                                      <tr>
                                        <td align="center" height="25" style="height:25px; font-size: 0;">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td align="right"><table role="presentation" border="0" cellspacing="0" cellpadding="0" class="mobile-btn-container">
                                        </table></td>
                                      </tr>
                                      <tr>
                                        <td align="center" height="50" style="height:50px; font-size: 0;">&nbsp;</td>
                                      </tr>
                                    </table></td>
                                  </tr>
                                </table></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="border-radius: 3px; max-width:20%;" bgcolor="#26d0ae"><a href="" title="login" target="_blank" style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 10px 20px; border: 1px solid #26d0ae; display: inline-block;" class="mobile-btn">Contract <%= @travel.id %> Generated by: <%= @travel.user.email %></a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <td align="center" height="50" style="height:50px; font-size: 0;">&nbsp;</td>
      <tr>
        <td align="center" bgcolor="#2C3E50">
        </td>
      </tr>
    </table>
